name: Deploy AWS Resources in Terraform
run-name: ${{ github.actor }} deployed the Terraform code to AWS.
on: [push]

jobs:
  terraform:
    runs-on: ubuntu-latest
    env:
      TF_VAR_vpc_id: ${{ secrets.VPC_ID }}
      TF_VAR_private_subnets: ${{ secrets.PRIVATE_SUBNETS }}
      TF_VAR_public_subnets: ${{ secrets.PUBLIC_SUBNETS }}
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      TEST: ${{ secrets.TEST_SECRET }}
    steps:
      - uses: hashicorp/setup-terraform@v2
      - uses: actions/checkout@v3

      - name: print runner info
        run: echo "OS=${{ runner.os }} BRANCH=${{ github.ref }} REPO=${{ github.repository }}"
        
      - name: format
        id: fmt
        run: terraform fmt -check
        continue-on-error: true

      - name: initialize
        id: init
        env:
          TF_VAR_vpc_id: ${{ secrets.VPC_ID }}
          TF_VAR_private_subnets: ${{ secrets.PRIVATE_SUBNETS }}
          TF_VAR_public_subnets: ${{ secrets.PUBLIC_SUBNETS }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          TEST: ${{ secrets.TEST_SECRET }}
        run: |
          terraform init \
            -backend-config="access_key=${{ env.AWS_ACCESS_KEY_ID }}" \
            -backend-config="secret_key=${{ env.AWS_SECRET_ACCESS_KEY }}" \
            -backend-config="region=us-east-1" 

      - name: validate
        id: validate
        run: terraform validate
        
      - name: plan
        id: plan
        run: terraform plan
